body{
    background-image: url(coffeSeed.bmp);
}
.carte{
    background-color: burlywood;
    width: 80%;
    max-width: 700px;
    margin: 40px auto;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 22px 0px 22px 0;
}
h1, h2{
    font-family: Impact;
    margin-bottom: 5px;
}
article p{
    display: inline-block;
    margin: 10px 0;
    font-size: 18px;
}
.flavor, .dessert{
    width: 75%;
    text-align: left;
}
.price{
    width: 25%;
    text-align: right;
}
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
}
img{
    width: 50px;
}