*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #265dba;
    box-sizing: border-box;
}
section{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#reverse{
    transform: scaleX(-1);
}
#mont{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom:-100px;
    left: 0px;
    z-index: 11;
}
#mont img{
    width: 1200px;
}
#person{
    position: absolute;
    top: 0px;
    z-index: 100;
    width: 100vw;


}
#ciel{
    position: absolute;
    width: 180%;
    bottom: 1px;
    left: 0px;
    z-index: 1;

}
.text{
    font-size: 20px;
    width: 60%;
    height: 100vh;
    margin: 0 auto;
}
.columns{
    margin: 22px 0;
    column-width: 300px;
    text-align: justify;
}
h1{
    font-size: 55px;
    margin: 22px 0;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
    
}
.card{
    overflow: hidden;
    width: 400px;
    height: 500px;
    position:relative;
    border-radius: 11px;
    color: white;
    padding: 15px;
}
.card img{
    width: 800px;
    margin: 0 auto;
    position: absolute;
    left: -50%;
    top: 0;
    z-index: 0;
    transition: 1s;
}
.card-text{
    position: absolute;
    z-index: 22;
    bottom: 10px;
    font-size: 18px;

}
.card:hover img{
    transform: scale(1.3);
}