*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #265dba;
}
section{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#reverse{
    transform: scaleX(-1);
}
#mont{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: -20%;
    left: -33%;
    z-index: 11;
}
#mont img{
    width: 1300px;
}
#person{
    position: absolute;
    top: 65%;
    z-index: 100;
    width: 100vw;


}
#ciel{
    position: absolute;
    width: 180%;
    top: -22%;
    left: 0%;
    z-index: 1;
    /* opacity: 0; */

}
.text{
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
}
.columns{
    margin: 22px 0;
    column-width: 300px;
    text-align: justify;
}
h1{
    font-size: 55px;
    margin: 22px 0;
}